packages:
  yum:
    libjpeg-turbo-devel: []
    libpng-devel: []
    libcurl-devel: []
    libsndfile-devel: []
    postgresql: []

container_commands:
  01_migrate:
      command: "source /var/app/venv/staging*/bin/activate && python3 manage.py makemigrations"
      leader_only: true
  02_migrate:
    command: "source /var/app/venv/staging*/bin/activate && python3 manage.py migrate"
    leader_only: true
  03_populate_dummy: 
    command: "source /var/app/venv/staging*/bin/activate && python3 manage.py populate_toy"
    leader_only: true
  04_staticone:
    command: "source /var/app/venv/staging*/bin/activate && python3 manage.py collectstatic --noinput"
  
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: microfaune_annotator.settings
  aws:elasticbeanstalk:container:python:
    WSGIPATH: microfaune_annotator/wsgi.py
  aws:ec2:vpc:
    VPCId: vpc-0b394b6676b7d50ea
    AssociatePublicIpAddress: 'false'
    ELBScheme: public
    ELBSubnets: subnet-0d5d002f6d1fbd06d,subnet-0eb0ad70069b6d265
    Subnets: subnet-068b7ee5c1d254e3b,subnet-0862c6bea72c893be
  aws:rds:dbinstance:
    DBEngine: postgresql
    DBEngineVersion: 12.3
    DBInstanceClass: db.t2.micro
    DBAllocatedStorage: 5
    DBUser: microfaune
    DBPassword: microfaune
