option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: microfaune_annotator.settings
  aws:elasticbeanstalk:container:python:
    WSGIPATH: microfaune_annotator/wsgi.py


Resources:
  AWSEBRDSDBSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: "Enable database access to Beanstalk application"
      SecurityGroupIngress: 
      - 
        FromPort: 0
        ToPort: 65535
        IpProtocol: tcp
        SourceSecurityGroupId: 
          Fn::GetAtt: ["AWSEBSecurityGroup", "GroupId"]

  AWSEBRDSDatabase: 
    Type: AWS::RDS::DBInstance 
    Properties:
      DBName: microfaune
      VPCSecurityGroups:  
        - 
          Fn::GetAtt: ["AWSEBRDSDBSecurityGroup", "GroupId"]
      DBInstanceClass: db.t2.micro 
      Engine: postgres
      EngineVersion: 12.3
      AllocatedStorage: 5 
      MasterUsername: root 
      MasterUserPassword: password 