option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: microfaune_annotator.settings
  aws:elasticbeanstalk:container:python:
    WSGIPATH: microfaune_annotator/wsgi.py
  aws:ec2:vpc:
    VPCId: vpc-0b394b6676b7d50ea
    AssociatePublicIpAddress: 'false'
    ELBScheme: public
    ELBSubnets: subnet-0d5d002f6d1fbd06d,subnet-0eb0ad70069b6d265
    Subnets: subnet-068b7ee5c1d254e3b,subnet-0862c6bea72c893be
    DBSubnets: subnet-068b7ee5c1d254e3b,subnet-0862c6bea72c893be


Resources:
  AWSEBRDSDBSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: "Enable database access to Beanstalk application"
      SecurityGroupIngress: 
      - 
        FromPort: 0
        ToPort: 65535
        IpProtocol: tcp
        SourceSecurityGroupId: 
          Fn::GetAtt: ["AWSEBSecurityGroup", "GroupId"]

  AWSEBRDSDatabase: 
    Type: AWS::RDS::DBInstance 
    Properties:
      DBName: microfaune
      VPCSecurityGroups:  
        - 
          Fn::GetAtt: ["AWSEBRDSDBSecurityGroup", "GroupId"]
      DBInstanceClass: db.t2.micro 
      Engine: postgres
      EngineVersion: 12.3
      AllocatedStorage: 5 
      MasterUsername: root 
      MasterUserPassword: password 