container_commands:
  01_migrate:
      command: "source $PYTHONPATH/activate && python3 manage.py makemigrations"
      leader_only: true
  02_migrate:
    command: "source $PYTHONPATH/activate && python3 manage.py migrate"
    leader_only: true
  03_populate_dummy: 
    command: "source $PYTHONPATH/activate && python3 manage.py populate_toy"
  04_staticone:
    command: "source $PYTHONPATH/activate && python3 manage.py collectstatic --noinput"
  

